[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
quart = "*"
quart-cors = "*"
python-dotenv = "*"
hypercorn = "*"
redis = "*"
requests = "*"
python-memcached = "*"

[dev-packages]

[requires]
python_version = "3.12"
