{% extends "base_site.html" %}

{% block title %}Discovering Kubernetes{% endblock %}

{% block container %}
    <div class="row my-5 text-center">
        <div class="col-sm-12 col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h1>Welcome</h1>
                    <button type="button" class="btn btn-lg btn-primary btn-rounded mt-4">
                        Disover Kubernetes
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
