{% extends "base_site.html" %}

{% block title %}Discovering Kubernetes{% endblock %}

{% block container %}
    <div class="row my-5 text-center">
        <div class="col-sm-12 col-md-8 offset-md-2">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1>Welcome on Django</h1>

                    <a href="/quart" class="btn btn-lg btn-primary btn-rounded mt-4 shadow-none">
                        Disover Kubernetes
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
