[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}
python-dotenv = "*"
django-redis-cache = "*"
django-redis = "*"
autometrics = "*"
djangorestframework = "*"
django-cors-headers = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.12"
